.container-fluid{
    background-color : #eee;
    height : 100vh;
}

.app-con{
    height : 100vh;
}

.week{
    background-color: #a2a2a2;
    width: 100vh;
    height: 25%;
    display: flex;
}

.day{
    background-color: #2c5c5c;
    height: 100%;
    width: calc(100%/7);
}